* {
  font-family: 'Hind Siliguri', sans-serif;
  color: azure;
  text-shadow: double 2px cyan;
}

.main-container {
  background-color: darkslategrey;
  width: 100h;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.favorites {
  border-radius: 30px;
  height: fit-content;
  margin-left: 20px;
  margin-top: 109px;
  padding-right: 40px;
  padding-bottom: 40px;
  box-shadow: 0 0 40px #4f9;
  align-items: flex-start;
  &:hover {
    transform: scale(1.2);
    color: darkgreen;
    box-shadow: 0 0 40px #4f9;
  }
}

.button {
  color: black;
  box-shadow: 0 0 5px 5px #4f9;
  margin: 10px;
  width: 120px;
  height: 40px;
  font-size: medium;
  border-radius: 30px;
  transition: transform 1s color 2s;
  &:hover {
    transform: scale(1.2);
    color: darkgreen;
    box-shadow: 0 0 40px #4f9;
  }
}

.title1 {
  font-size: 30px;
  text-shadow: 0 0 30px #ffff;
  margin-left: 20px;
}

.title2 {
  margin-bottom: 80px;
  margin-top: 50px;
  margin-left: 30px;
  text-shadow: 0 0 30px #ffff;
}

.input {
  box-shadow: 0 0 5px 5px crimson;
  width: 250px;
  height: 40px;
  font-size: medium;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 30px;
  outline: none;
  color: black;
}
